/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-item{
    font-weight: 600;
}

a.navbar-brand{
  width: 90px;
}

.site-logo{
  width: 100%;
  text-align: left;
  float: left;
}

button a{
    display: block;
    width: 100%;
    color: inherit;
}

.btn-renter {
    color: rgba(255, 86, 125,1);
    border: 1px solid rgba(255, 86, 125,1);
    border-radius: 4px;
    padding: 12px 12px;
    background: white;
    font-size: 14px;
    transition: all 0.15s ease-in-out 0s;
}

    .btn-renter:hover {
        background: rgba(255, 86, 125,1);
        color: white;
    }

a, a:hover{
    color: unset;
    text-decoration: none;
}

.btn-login {
    color: #00b4d8;
    font-weight: 400;
    transition: all 0.15s ease-in-out 0s;
    border-radius: 4px;
}
.btn-login a{
    color: inherit
}
    .btn-login:hover {
        background: #0083CC;
        color:white;
    }

button.btn-login {
    color: #00b4d8;
    border: 1px solid #0083CC;
    padding: 12px 12px;
    background: white;
    font-size: 14px;    
}

.nav-item.link-only{
    padding: 12px;
}

.nav-item.link-only a{
    padding: 12px;
}

.search-section{
    position: relative;
    width: 100%;
    display: table;
}

.section-bg {
    width: 100%;
    height: 798.94px;
    position: absolute;
    left: 0px;
    right: 0px;
}

    .section-bg::before {
        background: url(../images/background.jpg) center top / cover no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
    }

.searchbox-wrapper{
    text-align: center;
    padding: 3% 0;
}

.searchbox-wrapper{
  padding-top: 24px;
}


.section-searchbox {
    display: table-cell;
    vertical-align: top;
    position:relative;
}

.welcome-text{
  margin-bottom: 24px;
  overflow: hidden;
}

.welcome-text{
  position: relative;
}

.welcome-text h1 {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 4px;
  margin-top: 0;
  overflow: hidden;
  text-transform: uppercase;
  color: #fff;
}

.searchbox{
  background: red;
  width: 100%;
  height: 320px;
  border-radius: 16px;
  background: #f2f3f3;
  padding: 48px;
}

.search-input{
  border: 1px solid #dddfe2;;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 66px;
  padding: 0;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.search-input-wrapper{
  padding: 0 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

i.bx{
  padding: 12px 14px;
  font-size: 30px;
  text-align: left;
  color: #333;
}

.input-search{
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #232f31;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
    text-overflow: ellipsis;
}

.search-input-inner{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 70px);
  margin-top: -20px;
}

.input-search {
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-search::placeholder {
  font-weight: 500;
}

.input-search:focus-visible{
  border: none;
  outline: none;
}

.search-input{
  margin-bottom: 12px;
}

.selectbox{
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 10px 5px;
  position: relative;
  vertical-align: top;  
}

.search-wrapper .selectbox{
  margin: 0 0 12px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 16px;
  height: 66px;
  padding: 0;
  margin-bottom: 0;
  width: 25%;
  border-color: #dddfe2;
}

.select-location.select-province{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.select-district::before{
  left:-5px;
  background: #fff;
  content: "";
  height: calc(100% + 0.1px);
  position: absolute;
  top: -0.1px;
  width: 5px;
}

.select-district::after{
  border-right: 1px solid #ccc;
  bottom: 10px;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
}


.select-location.select-district{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.selectbox-wrapper{
  padding: 0 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.selectbox i{
  padding: 12px 14px;
  display: inline-block;
  vertical-align: middle;
}

.selectbox i{
  padding-left: 6px;
  padding-right: 16px;
}

.selectcontent{
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 60px);
  text-align: start;
  height: 100%;
  font-weight: 500;
}

.selectcontent select{
  border: none;
  width: 100%;
  height: 100%;
  border-radius: none;
  font-weight: 500;
}

.selectcontent select:focus-visible{
  border: none;
  outline: none;
}

.selectbox.select-capacity{
  width: calc(50% - 12px);
  margin-left: 7px;
  cursor: default;
}

.selectcontent input{
  border: none;
  width: 100%;
  height: 100%;
  border-radius: none;
}


.selectcontent input:focus-visible{
  border: none;
  outline: none;
}

.input-control {
  position: absolute;
  right: 1px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #ccc  ;
  border-radius: 24px;
  top: 18%;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

.input-control{
  padding: 8px;
}

.input-control.btn-addnum{
 left: calc(100% - 50px);
}
.input-control.btn-subnum{
  left: calc(100% - 100px);
}

.form-btn-wrapper{
  margin-top: 36px;
}

.btn-search{
  position: relative;
  border: none;
  user-select: none;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(83, 146, 249);
  color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
  transition: all 0.15s ease-in-out 0s;
  width: 490px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
}