/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-item{
    font-weight: 600;
}

button a{
    display: block;
    width: 100%;
    color: inherit;
}

.btn-renter {
    color: rgba(255, 86, 125,1);
    border: 1px solid rgba(255, 86, 125,1);
    border-radius: 4px;
    padding: 12px 12px;
    background: white;
    font-size: 14px;
    transition: all 0.15s ease-in-out 0s;
}

    .btn-renter:hover {
        background: rgba(255, 86, 125,1);
        color: white;
    }

a, a:hover{
    color: unset;
    text-decoration: none;
}

.btn-login {
    color: #00b4d8;
    font-weight: 400;
    transition: all 0.15s ease-in-out 0s;
    border-radius: 4px;
}
.btn-login a{
    color: inherit
}
    .btn-login:hover {
        background: #0083CC;
        color:white;
    }

button.btn-login {
    color: #00b4d8;
    border: 1px solid #0083CC;
    padding: 12px 12px;
    background: white;
    font-size: 14px;    
}

.nav-item.link-only{
    padding: 12px;
}

.nav-item.link-only a{
    padding: 12px;
}