@page
@model HostelManagement.Pages.AccessDeniedModel
@{
}
<h1>AccessDenied</h1>
@if (ViewData["AccessDeniedMessage"] != null)
            {
                <p class="text-danger">@ViewData["AccessDeniedMessage"]</p>
            }