@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="search-section">
    <div class="section-bg"></div>
    <section class="section-searchbox">
        <div class="searchbox-wrapper container">
            <div class="welcome-text">
                <div class="welcome-text-wrapper">
                    <h1>
                        FIND YOUR PERFECT RENTAL HOME
                    </h1>
                </div>
            </div>
            <div class="searchbox">
                2
            </div>
        </div>
    </section>
</section>
