@using System.Security.Claims
@using DataAccess.Repository
@{ 
    var Role = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
    string role = null;
    if (Role == "Owner") role = "owner";
    else if (Role == "Admin") role = "owner";
    IAccountRepository accountRepo = new AccountRepository();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HostelManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="@role-page">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Admin")
                {
                    <a class="navbar-brand" asp-area="" asp-page="/AdminDashboard">
                        <img class="site-logo" src="~/images/rentel-logo_v2.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" id="overview-nav">
                                <a class="nav-link" asp-area="" asp-page="/AdminDashboard">Overview</a>
                            </li>
                            <li class="nav-item" id="requests-nav">
                                <a class="nav-link" asp-area="" asp-page="/Hostels/Request">Requests</a>
                            </li>
                            <li class="nav-item" id="accounts-nav">
                                <a class="nav-link" asp-area="" asp-page="/Accounts/Index">Accounts</a>
                            </li>
                            <li class="nav-item" id="listings-nav">
                                <a class="nav-link" asp-area="" asp-page="/Hostels/Index">Hostels</a>
                            </li>
                        </ul>
                    </div>
                }
                else if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Owner")
                {
                    <a class="navbar-brand" asp-area="" asp-page="/HostelOwnerDashboard">
                        <img class="site-logo" src="~/images/rentel-logo_v2.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" id="overview-nav">
                                <a class="nav-link" asp-area="" asp-page="/HostelOwnerDashboard">Overview</a>
                            </li>
                            <li class="nav-item" id="listings-nav">
                                <a class="nav-link" asp-area="" asp-page="/Hostels/Index">Listings</a>
                            </li>
                            <li class="nav-item" id="contracts-nav">
                                <a class="nav-link" asp-area="" asp-page="/Rents/Index">Contracts</a>
                            </li>
                            <li class="nav-item" id="bills-nav">
                                <a class="nav-link" asp-area="" asp-page="/Bills/Index">Bills</a>
                            </li>
                        </ul>
                    </div>
                }
                else if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Renter")
                {
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img class="site-logo" src="~/images/rentel-logo_v3.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Rents/Index">My Rent</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img class="site-logo" src="~/images/rentel-logo_v3.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                }

                <div class="user-nav d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity == null || !User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <button class="btn-renter"><a class="a-link" asp-area="" asp-page="/Accounts/LoginOwner">List your place</a></button>
                            </li>
                            <li class="nav-item link-only">
                                <a class="btn-login a-link" asp-area="" asp-page="/Accounts/Login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn-login"><a class="a-link" asp-area="" asp-page="/Accounts/Register">Create account</a></button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @{
                                    var sessionUser= await accountRepo.GetAccountByID(Int32.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value));
                                }
                                <a class="nav-link">
                                    Welcome @User.Identity.Name
                                    <div class="profile-wrapper">
                                        <div class="avatar-wrapper">
                                            <div class="avatar">
                                                @{
                                                    var userAvatar="placeholder.png";
                                                    if(sessionUser.ProfilePicUrl != null && sessionUser.ProfilePicUrl.Length>0){
                                                        userAvatar="accounts/"+sessionUser.ProfilePicUrl;
                                                    }
                                                }
                                                <img src="~/images/userAvatar" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-menu">
                                        <div class="user-menu-wrapper">
                                            <ul class="user-menu-inner">
                                                <li class="user-menu-item" data-target="Accounts" data-action="Edit" data-id="@sessionUser.UserId">
                                                    <span>Update Profile</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center ml-3">
                                <button class="btn btn-logout">
                                    <a class="nav-link" asp-area="" asp-page="/Accounts/Logout">
                                        Log Out
                                    </a>
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HostelManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
            $('.user-menu-item').click(function(){
        var link= $(this).data('target');
        var action = $(this).data('action');
        var id = $(this).data('id')
        window.location = '../' + link + "/"+ action + "?id="+ id;
    })
    </script>
</body>
</html>
