@page
@model HostelManagement.Pages.BillDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillDetail.BillDetailId" />
            <div class="form-group">
                <label asp-for="BillDetail.BillId" class="control-label"></label>
                <select asp-for="BillDetail.BillId" class="form-control" asp-items="ViewBag.BillId"></select>
                <span asp-validation-for="BillDetail.BillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDetail.BillDescription" class="control-label"></label>
                <input asp-for="BillDetail.BillDescription" class="form-control" />
                <span asp-validation-for="BillDetail.BillDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDetail.Fee" class="control-label"></label>
                <input asp-for="BillDetail.Fee" class="form-control" />
                <span asp-validation-for="BillDetail.Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDetail.DateIssued" class="control-label"></label>
                <input asp-for="BillDetail.DateIssued" class="form-control" />
                <span asp-validation-for="BillDetail.DateIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
