@page
@model HostelManagement.Pages.Accounts.ForgotPasswordModel
@{
    var hidden = false;
    if (Model.message == null) hidden = true;
    bool sent = false;
    if (Model.messageCode != null) sent = true;
    bool notsent = !sent;
}
<h1>Reset Password</h1>
<div class="container border" style="padding:50px 0 50px 0">


    <form method="post" asp-page-handler="SendCode" hidden="@sent">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row text-center">
            <div class="col-3">
                <label>Please enter your email to reset password</label>
            </div>
            <div class="col-5">
                <input type="email" asp-for="Account.UserEmail" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Account.UserEmail"></span>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="SEND CODE" />
            </div>
        </div>
    </form>


    <form method="post" asp-page-handler="Change" hidden="@notsent">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row text-center">
            <div class="col-3">
                <label>Your Email</label>
            </div>
            <div class="col-5">
                <input type="email" asp-for="Account.UserEmail" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Account.UserEmail"></span>
        </div>
        <div class="form-group row text-center">
            <div class="col-3">
                <label>CODE</label>
            </div>
            <div class="col-5">
                <input asp-for="Code" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Code"></span>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="RESET PASSWORD" />
            </div>
        </div>

    </form>

    <div hidden="@hidden">
        <span class="text-danger">@Model.message</span>
    </div>

</div>
<p id="emailHelp" class="form-text text-center">
    Dont have an ancount?
    <a href="/Accounts/Register" class="text-decoration-none">Register here</a>
</p>
