@page
@model HostelManagement.Pages.Inputs.RegisterModel
@{var hidden = false;
    if (Model.MessageExistEmail == null) hidden = true;
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.UserEmail" class="control-label"></label>
        <input asp-for="Input.UserEmail" class="form-control" />
        <span asp-validation-for="Input.UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.UserPassword" class="control-label"></label>
        <input asp-for="Input.UserPassword" class="form-control" />
        <span asp-validation-for="Input.UserPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="control-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.RoleName" class="control-label"></label>
        <input asp-for="Input.RoleName" class="form-control"/>
        <span asp-validation-for="Input.RoleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Status" class="control-label"></label>
        <input asp-for="Input.Status" class="form-control" value="1"/>
        <span asp-validation-for="Input.Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.FullName" class="control-label"></label>
        <input asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PhoneNumber" class="control-label"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Dob" class="control-label"></label>
        <input asp-for="Input.Dob" class="form-control" />
        <span asp-validation-for="Input.Dob" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ProfilePicUrl" class="control-label"></label>
        <input asp-for="Input.ProfilePicUrl" class="form-control" />
        <span asp-validation-for="Input.ProfilePicUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.IdCardNumber" class="control-label"></label>
        <select asp-for="Input.IdCardNumber" class="form-control" asp-items="ViewBag.IdCardNumber"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}