@page
@model HostelManagement.Pages.Hostels.EditModel

@{
    Layout = "_OwnerLayout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hostel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <span class="group-input-title" id="Hostel">Hostel</span>
            <div class="group-input-hostel">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Hostel.HostelId" />
                <div class="form-group">
                    <label asp-for="Hostel.HostelName" class="control-label"></label>
                    <input asp-for="Hostel.HostelName" class="form-control" />
                    <span asp-validation-for="Hostel.HostelName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hostel.Description" class="control-label"></label>
                    <input asp-for="Hostel.Description" class="form-control" />
                    <span asp-validation-for="Hostel.Description" class="text-danger"></span>
                </div>
                <div class="form-group" hidden="hidden">
                    <label asp-for="Hostel.Status" class="control-label"></label>
                    <input asp-for="Hostel.Status" class="form-control" />
                    <span asp-validation-for="Hostel.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hostel.CategoryId" class="control-label"></label>
                    <select asp-for="Hostel.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="Hostel.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden="hidden">
                    <label asp-for="Hostel.HostelOwnerEmail" class="control-label"></label>
                    <input asp-for="Hostel.HostelOwnerEmail" class="form-control" asp-items="@ViewBag.HostelOwnerEmail"/>
                    <span asp-validation-for="Hostel.HostelOwnerEmail" class="text-danger"></span>
                </div>
                <div class="form-group" hidden="hidden">
                    <label asp-for="Hostel.LocationId" class="control-label"></label>
                    <input asp-for="Hostel.LocationId" class="form-control" asp-items="@ViewBag.LocationId"/>
                    <span asp-validation-for="Hostel.LocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
